<div id="popup">
  <div id="popup-box">
    <form action="" method="POST" id="popup-form">
      <h3>Insert Data</h3>
      <hr>
      <div>
        <label for="field">Field</label><br>
        <input type="text" id="field" name="field" required>
      </div>
      <div>
        <label for="value">Value</label><br>
        <input type="text" id="value" name="value" required>
      </div>
      <hr>
      <button id="popup-submit" type="submit">Insert</button>
      <button id="popup-cancel" type="button">Cancel</button>
    </form>
  </div>
</div>