<!DOCTYPE html>
<html>
  <head>
  	<title>Login Page</title>
  	<link href="/css/auth.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  </head>
  <body>
  	<div id="container">
      <div id="content">
        <div class="scratch-block"><img src="/images/scratchCloudBlock.png" width="100%"></div>
        <form action="/api/v1/users/login" method="POST">
          <h1>Login to your<br>developer account</h1>
          <% if (messages.error) { %>
            <div id="error">
              <img src="/images/error.svg">
              <h3><%= messages.error %></h3>
            </div>
          <% } %>
          <div>
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required>
          </div>
          <div>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required>
          </div>
          <h3>Don't have an account? <a href="/register">Register</a></h3>
          <button type="submit">
            <h3>Login</h3> 
            <img id="rightArrow" src="/images/rightArrow.svg">
          </button>
        </form>
      </div>
    </div> 
  </body>
</html>	